@import 'tailwindcss';

@layer base {
  a {
    @apply text-accentColor;
  }
}

@theme {
  --color-backgroundColorA: rgb(0,0,0);
  --color-backgroundColorB: rgb(0,0,0);
  --color-boxColorA: rgb(30,30,30);
  --color-boxColorB: rgb(10,10,10);
  --color-textColor: rgb(255,255,255);
  --color-accentColor: rgb(0,220,100);
}